@model EmployeeViewModel;

@{
    ViewData["Title"] = "Delete";
}


<h1>Are you sure that you want to delete @Model.Name ?</h1>
<form asp-action="Delete">
    <partial name="PartialViews/DetailsDeleteEmployeePartialView"></partial>
    <div class="form-group">

        <label asp-for="HiringDate" class="col-form-label"></label>
        <input readonly asp-for="HiringDate" class="form-control" />
        <span asp-validation-for="HiringDate" class="text-danger"></span>
    </div>
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</form>
