@model EmployeeViewModel;

@{
    ViewData["Title"] = "Details";
}


<h1>@Model.Name Details</h1>

<form asp-action="Details" enctype="multipart/form-data">
    
    <partial name="PartialViews/DetailsDeleteEmployeePartialView"></partial>
    <div class="form-group">

        <label asp-for="HiringDate" class="col-form-label"></label>
        <input readonly asp-for="HiringDate" class="form-control" />
        <span asp-validation-for="HiringDate" class="text-danger"></span>
    </div>

    <a asp-controller="Employee" asp-route-id="@Model.Id" asp-action="Update" class="btn btn-warning">Edit</a>
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>
    </form>
