@model RoleViewModel;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create New Role</h1>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="@Model.RoleName" class="col-form-label"></label>
        <input asp-for="@Model.RoleName" class="form-control-file" />
    </div>
    <partial name="PartialViews/UpdateCreateEmployeePartailView"></partial>

    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-controller="Role" asp-action="Index" class="btn btn-light">Back To List</a>
</form>
