@model ResetPasswordViewModel;
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="~/images/signin-image.jpg" alt="sing up image"></figure>
                <a asp-action="Register" class="signup-image-link">Create an account</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Create New Password</h2>
                <div asp-validation-summary="All" class="text-denger"></div>
                <form asp-action="ResetPassword" class="register-form" id="login-form">
                    <div class="form-group">
                        <label asp-for="NewPassword"><i class="zmdi zmdi-email"></i></label>
                        <input asp-for="NewPassword" id="NewPassword" placeholder="New Password" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"><i class="zmdi zmdi-lock"></i></label>
                        <input asp-for="ConfirmPassword" id="pass" placeholder="Confirm Password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                    </div>
                    
                    <div class="form-group form-button">
                        <input type="submit" name="ResetPassword" id="ResetPassword" class="form-submit" value="ResetPassword" />
                    </div>
                </form>
        

            </div>
        </div>
    </div>
</section>
@section Validation
{
    <partial name="_ValidationScriptsPartial" />
}



